<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>llistallibres.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Consulta</servlet-name>
        <servlet-class>pack.aplicaciowebllibreria.servlets.Consulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarLlibre</servlet-name>
        <servlet-class>pack.aplicaciowebllibreria.servlets.InsertarLlibre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarLlibre</servlet-name>
        <servlet-class>pack.aplicaciowebllibreria.servlets.ModificarLlibre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarLlibre</servlet-name>
        <servlet-class>pack.aplicaciowebllibreria.servlets.EliminarLlibre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Consulta</servlet-name>
        <url-pattern>/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarLlibre</servlet-name>
        <url-pattern>/InsertarLlibre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarLlibre</servlet-name>
        <url-pattern>/ModificarLlibre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarLlibre</servlet-name>
        <url-pattern>/EliminarLlibre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
